:root {
    --primary-color:#0A285f ;
    --second-color : rgba(255, 255, 255, 0.919);
    --heads-color :#D5A100 ;
  }

body {
    font-family: "Lato", sans-serif;  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color:  darkgray ;
    background-color: var(--primary-color);
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--heads-color);
   
  }
  
  h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--heads-color);
    margin-top: 20px;
    text-align: center;
  }
  
 
  .btn-primary {
    background-color: #ee1515 !important ; 
    
}  
  .card {
    position: relative;
    display: -ms-flexbox;
    display:inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--second-color);
    color: #222224;
    background-clip: border-box;
    border: 2px solid #F00000;
    border-radius: 0.25rem;
    align-items: center;
    align-content: center;
    padding: 15px;
    margin: 45px;
  }