/* colors that well be used */
/* the colors are inspired by the Pokemon logo*/
:root{

    --primary-color :#0A285F ;
    --primary-text-color : #FFCC00 ;
    --heads-color :#D5A100 ;
    }
    
    body {
        background-color: var(--primary-color);
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
    }
    
    header{
        color: var(--primary-text-color);
        text-align: center;
    }
    
    h2 {
        padding: 16px 32px;
        color: var(--heads-color);
    }

    ul.pokemon-list {
        list-style-type: none;
        padding:10px;
    }
    
/*adding styles to the button*/

.button-class {
   
    padding: 16px 32px;
    align-items: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.8s; 
    transition-duration: 0.8s;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000000;
    border: 3px solid #FB1B1B;
/* the colors are inspired by the Pokemon ball*/
}    

.modal-container {
    display: none;
}

.modal-container.is-visible {
    position: fixed;
    padding: 50px;
    box-sizing: border-box;
    top: 200px;
    left: 40%;
    width: 40%;
    height: 60%;
    background: rgb(254, 254, 254);
    border: 3px solid #FB1B1B;

    overflow: auto; 

    display: grid;
    text-align: center;
}



.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
  }

    
    
    
    
    
    
    @media all and (max-width: 500px) {}
    
    @media all and (min-width: 500px) and (max-width: 750px){}
    
    @media all and (max-width: 750px){}